
.ola{
	color: green;
}

.tr-table{
	border: 1px solid black;
}

.th-table{
		border: 1px solid black;
		padding: 5px 10px;
}

.td-table{
		border: 1px solid black;
		padding: 5px 10px;
}

.icon-edite{
	color: red;
}